# =====================================================
# FastAPI Framework
# =====================================================
fastapi
uvicorn[standard]
python-multipart

# =====================================================
# Database
# =====================================================
sqlalchemy
alembic
psycopg2-binary

# =====================================================
# Environment Variables
# =====================================================
python-dotenv
pydantic
pydantic-settings

# =====================================================
# Authentication
# =====================================================
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# =====================================================
# Resume Parsing
# =====================================================
PyMuPDF
pdfplumber
python-docx

# =====================================================
# NLP
# =====================================================
spacy
rapidfuzz

# =====================================================
# AI / RAG
# =====================================================
langchain
langchain-community
langchain-core

langchain-ollama
langchain-huggingface

sentence-transformers

# =====================================================
# Vector Database
# =====================================================
qdrant-client

# =====================================================
# Machine Learning
# =====================================================
torch
transformers

# =====================================================
# Data Processing
# =====================================================
numpy
pandas

# =====================================================
# Utilities
# =====================================================
requests
httpx

# =====================================================
# Logging
# =====================================================
loguru

# =====================================================
# Testing
# =====================================================
pytest
pytest-asyncio